<nav class="navbar navbar-expand-lg bg-white sticky-top shadow-sm">
  <div class="container-fluid">
    <!-- Logo / Brand -->
    <div class="logo-brand-name">
      <i class="fa-regular fa-compass"></i>
      <a class="navbar-brand" href="/listing">Airbnb</a>
    </div>

    <!-- Search Form - Visible on Large screens only (lg and up) -->
    <div class="search-wrapper d-none d-md-block d-lg-block">
      <form class="d-flex needs-validation" role="search" action="/listing/search" novalidate>
        <input
          class="form-control me-2 search-input"
          type="search"
          name="location"
          placeholder="Search destinations"
          aria-label="Search"
          required
        />
       
        <button class="btn btn-success search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        
      </form>
       <div class="invalid-feedback">Enter the location you want to search for!</div>
    </div>

    <!-- Toggler Button - Always on right side -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/listing"><b>Home</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listing/new"><b>Become a host</b></a>
        </li>
        
        <% if(!currentUser && currentUser !== "undefined"){ %>
          <li class="nav-item d-flex gap-2">
            <a class="btn btn-success" href="/signup">Sign Up</a>
            <a class="btn btn-success" href="/login">Log In</a>
          </li>
        <% } %>
        
        <% if(currentUser){ %>
          <li class="nav-item">
            <a class="btn btn-danger" href="/logout">Log Out</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>