<% layout("/layouts/boilerplate") %>
<div class="card col-6 offset-3 mt-4 shadow signup-card">
  <h2>Login</h2>
  <form action="/login" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="enter username"
        class="form-control"
        required
      />
    </div>

    <div class="mb-3">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="enter your password"
        class="form-control"
        required
      />
    </div>
    <button class="btn btn-success">Login</button>
  </form>
  <div class="signedup-div">
    <p id="form-text">Not signed up Yet? <a href="/signup">Sign Up</a></p>
  </div>
</div>
