<% layout("/layouts/boilerplate") %>
<div class="card col-6 offset-3 mt-4 shadow signup-card">
  <h2>SignUp</h2>
  <form action="/signup" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="fullname">FullName</label>
      <input
        type="text"
        name="fullname"
        id="fullname"
        placeholder="enter your fullname"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Username is required</div>
    </div>
    <div class="mb-3">
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="enter username"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Username is required</div>
    </div>
    <div class="mb-3">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="email"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Email is required</div>
    </div>
    <div class="mb-3">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="enter strong password"
        class="form-control"
        required
      />
    </div>
    <button class="btn btn-success">SignUP</button>
  </form>
  <div class="signedup-div">
    <p id="form-text">Already signed up? <a href="/login">Log In</a></p>
  </div>
</div>
